.header { margin-bottom: 3em; border-bottom:1px solid #ccc;}

.content { margin-top:3em; }

.right { padding-top:1.2em;text-align:right; }
.project > h3 { text-align:right;}
@media handheld, only screen and (max-width: 767px) {
  div + div { padding-top:0.5em; } 
  
}