extends layout

block content
  #container

  script( type='text/javascript', src="/javascripts/Three.js")
  script( type='text/javascript', src="/javascripts/ImprovedNoise.js")
  script( type='text/javascript', src="/javascripts/Detector.js")
  script( type='text/javascript', src="/javascripts/Stats.js")
  script( type='text/javascript', src="/javascripts/Physi.js")