extends layout
  
block content
  #overlay
  #container
  script(type='text/javascript', src='http://www.html5rocks.com/en/tutorials/webaudio/intro/js/buffer-loader.js')
  script(type='text/javascript', src='/javascripts/sockets.js')
  script( type='text/javascript', src="/javascripts/Three.js")
  script( type='text/javascript', src="/javascripts/ImprovedNoise.js")
  script( type='text/javascript', src="/javascripts/Detector.js")
  script( type='text/javascript', src="/javascripts/Stats.js")
  script( type='text/javascript', src="/javascripts/webcamControls.js")
  script( type='text/javascript', src="/javascripts/flying.js")
  script(type='text/javascript', src='/javascripts/modal.js')
  script(type='text/javascript')
    init();